In [1]:
import pandas as pd
pd.__version__

'1.3.5'

In [2]:
df = pd.read_pickle('../data/cleaned/client_data_api_dashboard.pkl')
df.head(1)

,PA_PrLCash_SK_DPD_DEF__mean__mean,PA_DAYS_FIRST_DUE__min,PA_DAYS_LAST_DUE_1ST_VERSION__min,PA_PrLI_DELAY_DAYS_INSTALMENT__max__max,OBS_60_CNT_SOCIAL_CIRCLE,Bur_CB_DAYS_CREDIT_ENDDATE__max,DAYS_EMPLOYED_PERC,Bur_CB_AMT_CREDIT_SUM_DEBT__sum,PA_DAYS_FIRST_DUE__max,Bur_CB_AMT_CREDIT_SUM__mean,...,ORGANIZATION_TYPE_Tradetype5,ORGANIZATION_TYPE_Tradetype6,ORGANIZATION_TYPE_Tradetype7,ORGANIZATION_TYPE_Transporttype1,ORGANIZATION_TYPE_Transporttype2,ORGANIZATION_TYPE_Transporttype3,ORGANIZATION_TYPE_Transporttype4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,0.0,-565.0,125.0,-12.0,2.0,780.0,0.067329,245781.0,-565.0,108131.945625,...,0,0,0,0,0,0,0,0,0,1

In [3]:
df1k = pd.read_pickle('../data/cleaned/client_data_api_dashboard_1k.pkl')
df1k.head(1)

,PA_PrLCash_SK_DPD_DEF__mean__mean,PA_DAYS_FIRST_DUE__min,PA_DAYS_LAST_DUE_1ST_VERSION__min,PA_PrLI_DELAY_DAYS_INSTALMENT__max__max,OBS_60_CNT_SOCIAL_CIRCLE,Bur_CB_DAYS_CREDIT_ENDDATE__max,DAYS_EMPLOYED_PERC,Bur_CB_AMT_CREDIT_SUM_DEBT__sum,PA_DAYS_FIRST_DUE__max,Bur_CB_AMT_CREDIT_SUM__mean,...,ORGANIZATION_TYPE_Tradetype5,ORGANIZATION_TYPE_Tradetype6,ORGANIZATION_TYPE_Tradetype7,ORGANIZATION_TYPE_Transporttype1,ORGANIZATION_TYPE_Transporttype2,ORGANIZATION_TYPE_Transporttype3,ORGANIZATION_TYPE_Transporttype4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
369360,0.0,-220.0,-70.0,0.0,2.0,267.0,0.291097,0.0,-220.0,68917.5,...,0,0,0,0,0,0,0,0,0,1

# NEW 1K PICKLE - 900 GOOD, 100 BAD

In [4]:
dfgood = df[df.TARGET==0].sample(n=900)
dfgood.shape

dfbad = df[df.TARGET==1].sample(n=100)
dfbad.shape

df_manual = df.reset_index()
df_manual = df_manual[df_manual.SK_ID_CURR.isin([226060, 310013, 324973, 449031, 328692, 392503])]
df_manual = df_manual.set_index('SK_ID_CURR')
df_manual.shape

df_new = pd.concat([df_manual,dfgood,dfbad])
df_new.TARGET.value_counts()

df_new.to_pickle('../data/cleaned/client_data_api_dashboard_1k_900g_100b.pkl',protocol=4)

# NEW 1K PICKLE - 500 GOOD, 500 BAD

In [5]:
dfgood = df[df.TARGET==0].sample(n=500)
dfgood.shape

dfbad = df[df.TARGET==1].sample(n=500)
dfbad.shape

df_manual = df.reset_index()
df_manual = df_manual[df_manual.SK_ID_CURR.isin([226060, 310013, 324973, 449031, 328692, 392503])]
df_manual = df_manual.set_index('SK_ID_CURR')
df_manual.shape

df_new = pd.concat([df_manual,dfgood,dfbad])
df_new.TARGET.value_counts()

df_new.to_pickle('../data/cleaned/client_data_api_dashboard_1k_500g_500b.pkl',protocol=4)

# TEST READING

In [6]:
dfread1 = pd.read_pickle('../data/cleaned/client_data_api_dashboard_1k_500g_500b.pkl')
dfread2 = pd.read_pickle('../data/cleaned/client_data_api_dashboard_1k_900g_100b.pkl')

dfread2

,PA_PrLCash_SK_DPD_DEF__mean__mean,PA_DAYS_FIRST_DUE__min,PA_DAYS_LAST_DUE_1ST_VERSION__min,PA_PrLI_DELAY_DAYS_INSTALMENT__max__max,OBS_60_CNT_SOCIAL_CIRCLE,Bur_CB_DAYS_CREDIT_ENDDATE__max,DAYS_EMPLOYED_PERC,Bur_CB_AMT_CREDIT_SUM_DEBT__sum,PA_DAYS_FIRST_DUE__max,Bur_CB_AMT_CREDIT_SUM__mean,...,ORGANIZATION_TYPE_Tradetype5,ORGANIZATION_TYPE_Tradetype6,ORGANIZATION_TYPE_Tradetype7,ORGANIZATION_TYPE_Transporttype1,ORGANIZATION_TYPE_Transporttype2,ORGANIZATION_TYPE_Transporttype3,ORGANIZATION_TYPE_Transporttype4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
226060,0.0,-1495.0,-1345.0,-2.0,0.0,-1047.0,0.218196,0.000,-130.0,64977.75000,...,0,0,0,0,0,0,0,0,0,0
310013,0.0,-537.0,-207.0,-1.0,1.0,780.0,-15.107669,289071.000,-41.0,270916.87500,...,0,0,0,0,0,0,0,0,1,0
324973,0.0,-1078.0,-808.0,-9.0,2.0,0.0,0.010923,0.000,-1078.0,0.00000,...,0,0,1,0,0,0,0,0,0,0
328692,0.0,0.0,0.0,0.0,0.0,6.0,0.032972,54522.000,0.0,45828.00000,...,0,0,0,0,0,1,0,0,0,1
392503,0.0,-942.0,-612.0,0.0,0.0,30928.0,0.032251,1278603.000,-663.0,417830.77125,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316873,0.0,-2178.0,-1968.0,35.0,2.0,1336.0,0.024948,3127.500,-1478.0,90000.00000,...,0,0,1,0,0,0,0,0,0,1
453784,0.0,-541.0,-211.0,0.0,5.0,12806.0,0.130427,2286211.500,365243.0,487406.25000,...,0,0,0,0,0,0,0,0,0,1
369354,0.0,-1171.0,-781.0,0.0,3.0,27536.0,0.198249,1616461.875,-200.0,302855.25000,...,0,0,0,0,0,0,0,0,0,1
290900,0.0,-2278.0,-1948.0,46.0,0.0,1039.0,0.192800,446977.980,-1715.0,176300.95500,...,0,0,0,0,0,0,0,0,0,1
438210,0.0,-2154.0,-1824.0,-2.0,0.0,172.0,0.036374,139190.310,365243.0,180164.25000,...,0,0,0,0,0,0,0,0,0,1